* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #c3bebe;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000000;
}

header img {
    height: 50px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

button {
    background-color: #F25757;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.textblog {
    padding-top: 50px;
    width: calc(100% - 250px);
    height: 500px;
    float: left;
    box-sizing: border-box;
}

.gatesimg {
    width: 800px;
    height: 700px;
}

.asidecontainer {
    padding-top: 50px;
    width: 200px;
    height: 700px;
    background-color: #c3bebe;
    border: 2px solid #000000;
    float: right;
    box-sizing: border-box;
}

.bigbox {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

.asidecontainer .search-container {
    margin-bottom: 50px;
}

.asidecontainer h2 {
    margin-bottom: 40px;
}

.asidecontainer ul {
    padding-left: 20px;

}

.asidecontainer ul li {
    margin-bottom: 10px;
}

button {
    background-color:#F25757;
    
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
}

.landingcont {
    background-image: url('images/deal.jpg');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landingcont h1 {
    padding-top: 50px;
    text-align: center;
}

.buttontry{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
}

.loremtext {
    padding-top: 550px;
}